.row
  .col.s12
    %form
      %label{for: 'search'}
        %h5.center search for a player
      .input-field
        -# %i.material-icons.prefix search
        %input#search{type: 'search', required: true, placeholder: 'e.g : Croustiboy#3735'}/
